<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% cache @products do %>
          <% @products.each do |product| %>
            <% cache product do %>
            <div class="col mb-5">
              <div class="card h-100">
                <img class="card-img-top" src=<%= image_url(product.image_url) %>>
                <div class="card-body p-4">
                  <div class="text-center">
                    <h5 class="fw-bolder"><%= product.title %></h5>
                    <%= number_to_currency(product.price) %>
                  </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                      <%= button_to 'Add to cart', line_items_path(product_id: product),
                                    {class: 'btn btn-outline-dark mt-auto'} %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <div style="display: flex; align-items: center; justify-content: center">
    <%= paginate @products %>
  </div>
</section>


