<!DOCTYPE html>
<html>
<head>
  <title>Vegetables Shop</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations", skip_pipeline: true %>

  <%= javascript_pack_tag 'locale_switcher', 'data-turbolinks-track': 'reload' %>

  <%= javascript_importmap_tags %>

</head>

<body>
<%= render 'layouts/header' %>

<section class="content">
  <%= render 'layouts/show_carts' %>

  <main class="<%= controller.controller_name %>" style="margin: 0 auto">
    <%= yield %>
  </main>
</section>
<%= render 'layouts/footer' %>
</body>
</html>
